<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
    
    <contextName>cassandra-step0</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %d{HH:mm:ss.SSS} [%thread]  %M,%L - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="biz.letsweb.cassandra.step0" level="ALL" />

    <jmxConfigurator />
    
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>